body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    background-color: #22272e;
    color: #fff ;
}

h1 {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 40px;
}

form {
    max-width: 400px;
    margin: 0 auto;
    font-size: 1rem;
}

label {
    display: block;
    margin-bottom: 8px;
}

button{
    margin-top: 20px;
}

button,
input,
select {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

input[type="button"], #enviar {
    width: 100%;
    padding: 10px;
    background-color: #4556a0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button, input[type="button"], #limpar {
    width: 100%;
    padding: 10px;
    background-color: #99645a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button, input[type="button"], #limpar:hover {
    background-color: #cf250f;
}

input[type="button"],#enviar:hover {
    background-color: #0e29a5;

}